@font-face {
    font-family: RobotoMono-Regular;
    src: url('../fonts/RobotoMono-Regular.ttf');
}
@font-face {
    font-family: RobotoMono-Light;
    src: url('../fonts/RobotoMono-Light.ttf');
}
@font-face {
    font-family: Connections-Light-Regular;
    src: url('../fonts/Connections Light Regular.ttf');
}
@font-face {
    font-family: Connections-Regular;
    src: url('../fonts/Connections Regular.ttf');
}
@font-face {
    font-family: Connections-Medium-Regular;
    src: url('../fonts/Connections Regular.ttf');
}
 
*{
    margin:0px auto;padding:0px;
}

body{
    font-family: "Connections-Regular";
    font-weight: bold;
    margin-top:56.69px; 
    width: 21cm;
  height: 29.7cm;
}

.geral{
    padding-top: 50px;
    padding-left: 30px;
 
}

.logo{
    top:0.79in;
    left:0.55in;
    width:2.58in;
    height:0.38in;
}
.customer-services{
    font-weight:bold;
    font-size:9pt;
    color:#231f20
}
